#loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
.contact {
  padding: 10px 40px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
#result {
  margin-bottom: 20px;
}
